mrag.krajnc.cc {
    handle {
        reverse_proxy frontend:3000
    }
}

api.mrag.krajnc.cc {
    handle {
        reverse_proxy backend:8080
    }
}

mailadmin.mrag.krajnc.cc {
    handle {
        reverse_proxy 127.0.0.1:8060
    }
    encode gzip
}

chroma.mrag.krajnc.cc {
    handle {
        reverse_proxy backend:8000
    }
}

grafana.mrag.krajnc.cc {
  handle {
    reverse_proxy grafana:3400
  }
  encode gzip
  log {
    output file /var/log/caddy/grafana_access.log
  }
}