mrag.krajnc.cc {
    handle {
        reverse_proxy frontend:3000
    }
}

api.mrag.krajnc.cc {
    handle {
        reverse_proxy backend:8080
    }
}

chroma.mrag.krajnc.cc {
    handle {
        reverse_proxy backend:8000
    }
}

# MAIL ->

# IMAPS
mail.krajnc.cc:993 {
  tls admin@krajnc.cc
  reverse_proxy stalwart:993
}

# POP3S
mail.krajnc.cc:995 {
  tls admin@krajnc.cc
  reverse_proxy stalwart:995
}

# SMTP Submission (STARTTLS)
mail.krajnc.cc:587 {
  tls admin@krajnc.cc
  reverse_proxy stalwart:587
}

mailadmin.mrag.krajnc.cc {
    handle {
        reverse_proxy stalwart:8060
    }
    encode gzip
}

# OBSERVABILITY ->

grafana.mrag.krajnc.cc {
  handle {
    reverse_proxy grafana:3400
  }
  encode gzip
  log {
    output file /var/log/caddy/grafana_access.log
  }
}